/* RESET SYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "figtree";
  cursor: default;
}

html {
  --yelow: #f4d04e;
  --gray-500: #6b6b6b;
  --gray-950: #111111;
  --white: #ffffff;
}

/* BODY */

body {
  background-color: var(--yelow);
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vb;
}
/* POST CONTAINER */

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 384px;
  height: 522px;
  border-radius: 20px;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px;
}

.post-image-section {
  padding: 24px;
}

.post-image {
  width: 336px;
  border-radius: 15px;
}

/* POST SECTION */

.post-section {
  display: flex;
  flex-direction: column;
  width: 336px;
  row-gap: 7px;
}

.post-category {
  background-color: var(--yelow);
  padding: 7px 14px;
  border-radius: 5px;
  width: min-content;
  font-size: 14px;
}

.post-publish-date {
  padding-bottom: 7px;
}

.post-content-title {
  transition: all 0.3s;
}

.post-content-title:hover {
  color: var(--yelow);
  cursor: pointer;
}

.post-content-paragraph {
  color: var(--gray-500);
  padding-bottom: 14px;
}

/* POST USER */

.post-user-section {
  margin-top: 7px;
  margin-left: 23px;
  height: 32px;
  width: 120px;
  display: flex;
  align-self: start;
  margin-top: 23px;
  justify-content: space-between;
}

.user-img {
}

.user-name {
  align-self: center;
  font-size: 12px;
}

/* MEDIA QUERIES */

@media (max-width: 834px) {
  .post-container {
    width: 327px;
    height: 501px;
  }

  .post-image {
    width: 279px;
  }

  .post-section {
    width: 279px;
  }

  .post-publish-category {
    height: 26px;
    width: 73px;
    font-size: 12px;
  }

  .post-publish-date {
    width: 123px;
    height: 18px;
    font-size: 12px;
    padding: 12px 0px;
  }

  .post-content-title {
    font-size: 20px;
    padding: 12px 0px;
  }

  .post-content-paragraph {
    font-size: 14px;
    margin-bottom: 12px;
  }
}
